<launch>
	<arg name="robot_id"/> 

	<group ns="$(arg robot_id)">

	  	<node pkg="roomba_sensor" type="roomba_control.py" name="rcontrol">
			<param name="robot_name" value="$(arg robot_id)"/>
	  	</node>
		
		
		<node pkg="roomba_sensor" type="roomba_navigation.py" name="rnavigation">
			<param name="robot_name" value="$(arg robot_id)"/>
	  	</node>

	
  	</group>

</launch>
