/roomba_sensor/scripts/test/test_particle_drawer.py~
/roomba_sensor/scripts/test/particle_drawer_test.py~
/roomba_comm/msg/PointR.msg~
/roomba_comm/CMakeLists.txt~
/roomba_comm/msg/Particle.msg~
/roomba_comm/package.xml~
/doc/gazebo_models/1fogo/model.config~
/doc/gazebo_models/1fogo/model.sdf~
/doc/multi-robot.py~
/roomba_sensor/launch/cam.launch~
/roomba_sensor/launch/cam2.launch~
/roomba_sensor/src/roomba_sensor/sensor.py~
/turtlebot_ds/launch/includes/move_base.launch~
/roomba_sensor/src/roomba_sensor/hello.py~
/roomba_sensor/setup.py~
/roomba_sensor/scripts/roomba_navigation.py~
/turtlebot_ds/launch/test/amcl.launch~
/turtlebot_ds/maps/barracs.yaml~
/turtlebot_ds/worlds/barracs.world~
/turtlebot_ds/launch/teleop.launch~
/roomba_sensor/scripts/particle_drawer2.py~
/turtlebot_ds/urdf/stacks/circles.urdf.xacro~
/turtlebot_ds/meshes/robot/main_body.dae~
/turtlebot_ds/urdf/kobuki.urdf.xacro~
/README.md~
/roomba_sensor/scripts/particle_drawer.py~
/roomba_sensor/CMakeLists.txt~
/roomba_sensor/package.xml~
/roomba_sensor/Makefile
/roomba_sensor/catkin/catkin_generated/version/package.cmake
/roomba_sensor/cmake_install.cmake
/roomba_sensor/devel/.catkin
/roomba_sensor/devel/.rosinstall
/roomba_sensor/devel/_setup_util.py
/roomba_sensor/devel/env.sh
/roomba_sensor/devel/etc/catkin/profile.d/05.catkin-test-results.sh
/roomba_sensor/devel/etc/catkin/profile.d/05.catkin_make.bash
/roomba_sensor/devel/etc/catkin/profile.d/05.catkin_make_isolated.bash
/roomba_sensor/devel/setup.bash
/roomba_sensor/devel/setup.sh
/roomba_sensor/devel/setup.zsh
/roomba_sensor/devel/share/roomba_sensor/cmake/roomba_sensorConfig-version.cmake
/roomba_sensor/devel/share/roomba_sensor/cmake/roomba_sensorConfig.cmake
/roomba_sensor/gtest/CMakeFiles/CMakeDirectoryInformation.cmake
/roomba_sensor/gtest/CMakeFiles/gtest.dir/DependInfo.cmake
/roomba_sensor/gtest/CMakeFiles/gtest.dir/build.make
/roomba_sensor/gtest/CMakeFiles/gtest.dir/cmake_clean.cmake
/roomba_sensor/gtest/CMakeFiles/gtest.dir/depend.make
/roomba_sensor/gtest/CMakeFiles/gtest.dir/flags.make
/roomba_sensor/gtest/CMakeFiles/gtest.dir/link.txt
/roomba_sensor/gtest/CMakeFiles/gtest.dir/progress.make
/roomba_sensor/gtest/CMakeFiles/gtest_main.dir/DependInfo.cmake
/roomba_sensor/gtest/CMakeFiles/gtest_main.dir/build.make
/roomba_sensor/gtest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
/roomba_sensor/gtest/CMakeFiles/gtest_main.dir/depend.make
/roomba_sensor/gtest/CMakeFiles/gtest_main.dir/flags.make
/roomba_sensor/gtest/CMakeFiles/gtest_main.dir/link.txt
/roomba_sensor/gtest/CMakeFiles/gtest_main.dir/progress.make
/roomba_sensor/gtest/CMakeFiles/progress.marks
/roomba_sensor/gtest/CTestTestfile.cmake
/roomba_sensor/gtest/Makefile
/roomba_sensor/gtest/cmake_install.cmake
/roomba_sensor/scripts/particle_publisher.py~
/turtlebot_ds/robots/kobukids.urdf.xacro~
/turtlebot_ds/urdf/stacks/hexagon.urdf.xacro~
/roomba_sensor/catkin_generated/env_cached.sh
/roomba_sensor/catkin_generated/generate_cached_setup.py
/roomba_sensor/catkin_generated/installspace/.catkin
/roomba_sensor/catkin_generated/installspace/.rosinstall
/roomba_sensor/catkin_generated/installspace/_setup_util.py
/roomba_sensor/catkin_generated/installspace/env.sh
/roomba_sensor/catkin_generated/installspace/roomba_sensor.pc
/roomba_sensor/catkin_generated/installspace/roomba_sensorConfig-version.cmake
/roomba_sensor/catkin_generated/installspace/roomba_sensorConfig.cmake
/roomba_sensor/catkin_generated/installspace/setup.bash
/roomba_sensor/catkin_generated/installspace/setup.sh
/roomba_sensor/catkin_generated/installspace/setup.zsh
/roomba_sensor/catkin_generated/ordered_paths.cmake
/roomba_sensor/catkin_generated/package.cmake
/roomba_sensor/catkin_generated/pkg.develspace.context.pc.py
/roomba_sensor/catkin_generated/pkg.installspace.context.pc.py
/roomba_sensor/catkin_generated/setup_cached.sh
/roomba_sensor/catkin_generated/stamps/roomba_sensor/interrogate_setup_dot_py.py.stamp
/roomba_sensor/catkin_generated/stamps/roomba_sensor/package.xml.stamp
/roomba_sensor/catkin_generated/stamps/roomba_sensor/pkg.pc.em.stamp
/roomba_sensor/CMakeCache.txt
/roomba_sensor/CMakeFiles/CMakeCCompiler.cmake
/roomba_sensor/CMakeFiles/CMakeCXXCompiler.cmake
/roomba_sensor/CMakeFiles/CMakeDetermineCompilerABI_C.bin
/roomba_sensor/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
/roomba_sensor/CMakeFiles/CMakeDirectoryInformation.cmake
/roomba_sensor/CMakeFiles/CMakeError.log
/roomba_sensor/CMakeFiles/CMakeOutput.log
/roomba_sensor/CMakeFiles/CMakeRuleHashes.txt
/roomba_sensor/CMakeFiles/CMakeSystem.cmake
/roomba_sensor/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
/roomba_sensor/CMakeFiles/CompilerIdC/a.out
/roomba_sensor/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
/roomba_sensor/CMakeFiles/CompilerIdCXX/a.out
/roomba_sensor/CMakeFiles/Makefile.cmake
/roomba_sensor/CMakeFiles/Makefile2
/roomba_sensor/CMakeFiles/TargetDirectories.txt
/roomba_sensor/CMakeFiles/clean_test_results.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/clean_test_results.dir/build.make
/roomba_sensor/CMakeFiles/clean_test_results.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/clean_test_results.dir/progress.make
/roomba_sensor/CMakeFiles/cmake.check_cache
/roomba_sensor/CMakeFiles/doxygen.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/doxygen.dir/build.make
/roomba_sensor/CMakeFiles/doxygen.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/doxygen.dir/progress.make
/roomba_sensor/CMakeFiles/progress.marks
/roomba_sensor/CMakeFiles/roscpp_generate_messages_cpp.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/roscpp_generate_messages_cpp.dir/build.make
/roomba_sensor/CMakeFiles/roscpp_generate_messages_cpp.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/roscpp_generate_messages_cpp.dir/progress.make
/roomba_sensor/CMakeFiles/roscpp_generate_messages_lisp.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/roscpp_generate_messages_lisp.dir/build.make
/roomba_sensor/CMakeFiles/roscpp_generate_messages_lisp.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/roscpp_generate_messages_lisp.dir/progress.make
/roomba_sensor/CMakeFiles/roscpp_generate_messages_py.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/roscpp_generate_messages_py.dir/build.make
/roomba_sensor/CMakeFiles/roscpp_generate_messages_py.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/roscpp_generate_messages_py.dir/progress.make
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_cpp.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_cpp.dir/build.make
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_cpp.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_cpp.dir/progress.make
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_lisp.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_lisp.dir/build.make
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_lisp.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_lisp.dir/progress.make
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_py.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_py.dir/build.make
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_py.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/rosgraph_msgs_generate_messages_py.dir/progress.make
/roomba_sensor/CMakeFiles/run_tests.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/run_tests.dir/build.make
/roomba_sensor/CMakeFiles/run_tests.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/run_tests.dir/progress.make
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_cpp.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_cpp.dir/build.make
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_cpp.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_cpp.dir/progress.make
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_lisp.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_lisp.dir/build.make
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_lisp.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_lisp.dir/progress.make
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_py.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_py.dir/build.make
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_py.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/std_msgs_generate_messages_py.dir/progress.make
/roomba_sensor/CMakeFiles/tests.dir/DependInfo.cmake
/roomba_sensor/CMakeFiles/tests.dir/build.make
/roomba_sensor/CMakeFiles/tests.dir/cmake_clean.cmake
/roomba_sensor/CMakeFiles/tests.dir/progress.make
/roomba_sensor/CTestTestfile.cmake
/roomba_sensor/scripts/roomba_control.py~
/turtlebot_ds/launch/turtlebot_multi_world.launch~
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
