<launch>
  <arg name="robot_id"       default="Robot1"/> 
  <arg name="robot_pose"/> 
  <arg name="algorithm" default="roomba"/>
  <arg name="graphic_debug" default="false"/>


  <!--<arg name="base"  value="$(optenv TURTLEBOT_BASE kobuki_ds)"/> -->

  <!--Robots -->
    <group ns="$(arg robot_id)">
		<include file="$(find turtlebot_ds)/launch/includes/kobuki_ds.launch.xml">
	    	<arg name="base" value="create"/>
	    	<arg name="init_pose" value="$(arg robot_pose)" />
	    	<arg name="robot_name"  value="$(arg robot_id)" />
		</include>

	 	<node pkg="roomba_sensor" type="$(arg algorithm)_control.py" name="rcontrol">
			<param name="robot_name" value="$(arg robot_id)"/>
            <param name="graphic_debug" value="$(arg graphic_debug)"/>
	  	</node>

		<node pkg="roomba_sensor" type="$(arg algorithm)_navigation.py" name="rnavigation">
			<param name="robot_name" value="$(arg robot_id)"/>
	  	</node>

  </group>

</launch>
