<launch>
  <arg name="robot_id"       default="Robot1"/> 
  <arg name="robot_pose"/> 

  <arg name="base"  value="$(optenv TURTLEBOT_BASE kobuki_ds)"/> 

  <!--Robots -->
    <group ns="$(arg robot_id)">
		<include file="$(find turtlebot_ds)/launch/includes/$(arg base).launch.xml">
	    	<arg name="base" value="create"/>
	    	<arg name="init_pose" value="$(arg robot_pose)" />
	    	<arg name="robot_name"  value="$(arg robot_id)" />
		</include>

	 	<node pkg="roomba_sensor" type="roomba_control.py" name="rcontrol">
			<param name="robot_name" value="$(arg robot_id)"/>
	  	</node>
		
		<node pkg="roomba_sensor" type="roomba_navigation.py" name="rnavigation">
			<param name="robot_name" value="$(arg robot_id)"/>
	  	</node>

  </group>

</launch>
