<launch>
	<param name="simulated_robots" value="true"/> 

	<param name="p_control_linear" value="0.2" /> 
	<param name="p_control_angular" value="0.5" /> 


	<!-- Map parameters -->
	<param name="map_x1" value="-2.0" /> 
	<param name="map_x2" value="2.0" /> 
	<param name="map_y1" value="-1.0" /> 
	<param name="map_y2" value="1.0" /> 
	<!-- Grid -->
	<param name="grid_n" value="8" /> 
	<param name="grid_m" value="16" />

	<!-- Sensor config -->
	<param name="sensor_radio" value="0.2" />
	<param name="sensor_distance" value="0.2" />

	<!-- Particle filter parameters -->
	<param name="particles_number" value="5000" />
	<param name="particle_movement" value="0.03" />

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="use_sim_time" value="true"/>
	    <arg name="debug" value="false"/>

		<!-- $(find turtlebot_ds)/worlds/simple.world -->
	    <arg name="world_name" value="$(find turtlebot_ds)/worlds/empty.world"/>
  	</include>
  

  	<!--Robots -->
   	<include file="$(find turtlebot_ds)/launch/single_robot.launch">
   		<arg name="robot_id" value="Robot1"/>
  	</include>

 
 

</launch>
